.body-override { 
    background-color: #000;
    color: #eee;
    text-transform: uppercase;
}

.container-fluid .bars {
    margin-left: 20px;
}

.progress {
    position: relative;
    background-image: none;
    background-color: transparent;
    border-radius: 0px;
    height: 250px;
    overflow: visible;
}
.progress .vertical {
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #fff;
    font-weight: bold;
    font-size: 2.4em;
}
.progress .vertical .barheader {
    margin-top: -35px;
}
.progress .vertical .barheader .slash {
    color: #888;
    margin-left: 3px;
    margin-right: 3px;
}
.progress .vertical .barheader .denominator {
    color: #8fcef1;
}

.grid-margins {
    margin-top: 10px;
    margin-bottom: 20px;
}

.grid-margins .rowcell {
    margin-left: 20px;
    
}

.grid-margins .predate {
    margin-right: 20px;
    color: #dd514c;
}
.grid-margins .eventname {
    color: #ddd;
}
.grid-margins .dateheader {
    color: #dd514c;
}

.show {
    background-color: #222;
    text-align: left;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    min-height: 40px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
}
.show img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.heavy {
    font-weight: bold;
    font-size: 1.8em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.heavy2, .tweets {
    font-weight: bold;
    font-size: 1.5em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
} 
.tweets {
    font-size: 1.7em;
    text-overflow: clip;
    background-color: #000;
    padding: 0px;
}
.tweets img {
    margin-left:50px;
}

.countdown {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

.container-fluid .rowlabels {
    font-weight: bold;
    font-size: 1.6em;
    text-align: center;
}


.container-fluid .bigbox {
    height: 100px;
}
.bigbox .bigrow {
    height: 100%;
}
.bigbox .updown {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 4em;
    position: relative;
}
.updown .content {
    text-align: center; 
    position: absolute; 
    top: 32%; 
    width: 90%;
}
.updown .green {
    color: #5eb95e;
}
.updown .red {
    color: #dd514c;
}

.bottomanchored {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1030;
    margin-bottom: 0;
}